.postPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1024px;
  margin: auto;
  padding-top: 10px;
}

.backBtn {
  width: fit-content;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(220, 220, 220);
  text-decoration: none;
  color: black;
}

.backBtn:hover {
  background-color: rgb(240, 240, 240);
  color: rgb(0, 140, 255);
}

.post {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postTitle {
  font-size: 28px;
}

.postBody {
  font-size: 18px;
}
